body {
  background-color: #f0f4f8;
  font-family: 'IRANSansX', sans-serif;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  font-family: 'moraba', sans-serif;
  text-align: center;
  color: #333;
}

h2::after, h2::before {
  content: "";
  display: inline-block;
  margin: 5px;
  height: 3px;
  width: 40px;
  background-color: #007bff;
}

.course, .equipment {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.course:hover, .equipment:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.course img, .equipment img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s;
}

.course:hover img, .equipment:hover img {
  transform: scale(1.01);
}

.btn-add {
  margin-top: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
}

.btn-add:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.cart-item {
  transition: background-color 0.3s, transform 0.3s;
  padding: 10px;
  border-radius: 5px;
}

.cart-item:hover {
  background-color: #e9ecef;
  transform: scale(1.02);
}

/* انیمیشن برای نمایش سبد خرید */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#cart {
  animation: slideIn 0.5s forwards;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Media Queries برای ریسپانسیو بودن */
@media (max-width: 1024px) {
  .course, .equipment {
    margin: 10px;
    padding: 15px;
  }

  .btn-add {
    width: 70%;
    padding: 10px;
    font-size: 12px;
  }

  h1, h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  .course, .equipment {
    margin: 10px;
    padding: 15px;
  }

  .btn-add {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }

  h1, h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 576px) {
  .course, .equipment {
    margin: 5px;
    padding: 10px;
  }

  .btn-add {
    padding: 8px;
    font-size: 12px;
  }

  h1, h2 {
    font-size: 1.2em;
  }
}
